<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Services</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue bg-blue">
        <img src="assets/images/ux.png" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">UI/UX Design</h3>
        <p class="mb-0">Create the user interface for an app, website, or other interactive media.</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>
    
    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center text-light shadow-pink bg-pink">
        <img src="assets/images/social-media.png" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">Social Media Management</h3>
        <p class="mb-0">Implementing social media platforms' content strategies. Implementing content strategies and collecting engagement data. 
          Identify trends among customer interactions to help plan digital campaigns that build brand loyalty.</p>
      </div>
    </div>

    <div class="col-md-4">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center shadow-yellow bg-yellow">
        <img src="assets/images/software.png" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">Graphics Design</h3>
        <p class="mb-0">Visualizing and creating graphics including illustrations, logos, layouts, photos, etc,.</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

  </div>

  <div class="mt-5 text-center">
    <p class="mb-0">Looking for a custom job? <a href="javascript:" (click)="scrollTo('contact')">Click here</a> to contact me! 👋</p>
  </div>
</div>
